<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>ประวัติการรับงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  mode="ios" class="ion-padding">
  <ng-container *ngIf="bikerHistory$ | async as datas">
      <ion-card color="light" *ngFor="let data of datas" >
        <ion-item button color="light" class="ion-text-center" [routerLink]="['biker-history-detail',data._id]">
          <ion-col size="4">
            <ion-text color="primary">
              <p><b>OrderID : {{ data._id }}</b></p>
            </ion-text>
          </ion-col>
          <ng-container *ngIf="data.doneDate">
            <ion-col size="4">
              <ion-text color="success">
                  <p><b>สถานะ : จัดส่งสำเร็จ </b></p>
              </ion-text> 
            </ion-col>
            <ion-col size="4">
              <ion-text color="primary">
                <p><b>{{ data.acceptRequestDate | date : 'dd MMM yyyy (hh.mm น.)' }}</b></p>
              </ion-text>
            </ion-col>
          </ng-container> 
        <ng-container *ngIf="data.cancelDate">
          <ion-col size="4">
            <ion-text color="danger">
                <p><b>สถานะ : ยกเลิก </b></p>
            </ion-text> 
          </ion-col>
          <ion-col size="4">
            <ion-text color="primary">
              <p><b>{{ data.cancelDate | date : 'dd MMM yyyy (hh.mm น.)'}}</b></p>
            </ion-text>
          </ion-col>
        </ng-container> 
        </ion-item>
      </ion-card>

      <ion-card color="light" class="ion-text-center" *ngIf="datas.length == 0" >
        <br><br><br><br><br>
        <ion-text class="ion-text-center" color="primary">
          <h5><b>ไม่มีรายการ</b></h5>
        </ion-text>
        <br><br><br><br><br>
      </ion-card>
  </ng-container>
</ion-content>

