<ion-header>
  <ion-toolbar>
    <ion-title>bikerHistory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  mode="ios" class="ion-padding">
  <ion-card color="light">
    <ion-item button color="light" class="ion-text-center">
      <ion-col size="4">
        <ion-text color="primary">
          <p><b>OrderID : 8888</b></p>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="success">
          <p><b>สถานะ : จัดส่งสำเร็จ </b></p>
        </ion-text>  
      </ion-col>
      <ion-col size="4">
        <ion-text color="primary">
          <p><b>15 พ.ค. 2563 (10.30น.)</b></p>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card>

  <ion-card color="light">
    <ion-item button color="light" class="ion-text-center">
      <ion-col size="4">
        <ion-text color="primary">
          <p><b>OrderID : 5555</b></p>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="success">
          <p><b>สถานะ : จัดส่งสำเร็จ </b></p>
        </ion-text>  
      </ion-col>
      <ion-col size="4">
        <ion-text color="primary">
          <p><b>12 พ.ค. 2563 (09.30น.)</b></p>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card>

  <ion-card color="light">
    <ion-item button color="light" class="ion-text-center">
      <ion-col size="4">
        <ion-text color="primary">
          <p><b>OrderID : 8898</b></p>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="danger">
          <p><b>สถานะ : ยกเลิก </b></p>
        </ion-text>  
      </ion-col>
      <ion-col size="4">
        <ion-text color="primary">
          <p><b>12 พ.ค. 2563 (09.30น.) </b></p>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card>
  
</ion-content>

