<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
  <ng-container *ngIf="financeDetail$ | async as data">
    <ion-card color="light" *ngFor="let item of data">
      <ion-row>
        <ion-col size="0.25"></ion-col>
        <ion-col size="11" class="ion-margin-top">
          <ion-item color="light" lines="none">
            <ion-label slot="start">
              <h1><b>รายการ</b></h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.95" class="ion-no-padding"></ion-col>
        <ion-col size="11" class="ion-no-padding">
          <ion-item color="light">
            <ion-label>
              <b>วันที่สร้าง : </b>
              <b>{{item.createDate | date:'d MMM y'}}</b>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.95" class="ion-no-padding"></ion-col>
        <ion-col size="11" class="ion-no-padding">
          <ion-item color="light">
            <ion-label>
              <b>ชื่อ : </b>
              <b>{{item.destinationName}}</b>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.95" class="ion-no-padding"></ion-col>
        <ion-col size="11" class="ion-no-padding">
          <ion-item color="light">
            <ion-label>
              <b>รหัส Biker : </b>
              <b>{{item.destinationId}}</b>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.95" class="ion-no-padding"></ion-col>
        <ion-col size="11" class="ion-no-padding">
          <ion-item color="light">
            <ion-label>
              <b>จำนวนเงิน : </b>
              <b>{{item.amount | number}}</b>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.95" class="ion-no-padding"></ion-col>
        <ion-col size="11" class="ion-no-padding">
          <ion-item color="light">
            <ion-label>
              <b>หมายเหตุ : </b>
              <b>{{item.note}}</b>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item color="light" lines="none" class="ion-padding">
        <ion-button slot="end" size="default" shape="round" color="danger" class="buttonWidth" (click)="deleteFinanceDetail()" >ลบ</ion-button>
        <ion-button slot="end" size="default" shape="round" color="success" class="buttonWidth">แก้ไข</ion-button>
      </ion-item>
    </ion-card>
  </ng-container>
</ion-content>