<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
        <ion-title> Contract : {{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
    <ng-container *ngIf="contractConditionInfo$ | async as data">
        <ion-card color="light" class="ion-padding">
            <ion-card-content>
                <ion-list lines="inset" class="ion-no-padding">
                    <ion-row>
                        <ion-col class="ion-no-padding" color="light" size="1">
                            <ion-item lines="none" color="light"> </ion-item>
                        </ion-col>
                        <ion-col class="ion-no-padding" color="light">
                            <ion-item color="light">
                                <ion-col size="5">
                                    <ion-label>
                                        <h1><b>ชื่อสัญญา</b></h1>
                                    </ion-label>
                                </ion-col>
                                <ion-col>
                                    <ion-label>
                                        <h1>{{ data.name }}</h1>
                                    </ion-label>
                                </ion-col>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="ion-no-padding" color="light" size="1">
                            <ion-item lines="none" color="light"> </ion-item>
                        </ion-col>
                        <ion-col class="ion-no-padding" color="light">
                            <ion-item color="light">
                                <ion-col size="5">
                                    <ion-label>
                                        <h1><b>เปอร์เซ็นที่หักร้านอาหาร</b></h1>
                                    </ion-label>
                                </ion-col>
                                <ion-col>
                                    <ion-label>
                                        <h1>{{ data.commissionPercent }}%</h1>
                                    </ion-label>
                                </ion-col>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="ion-no-padding" color="light" size="1">
                            <ion-item lines="none" color="light"> </ion-item>
                        </ion-col>
                        <ion-col class="ion-no-padding" color="light">
                            <ion-item color="light">
                                <ion-col size="5">
                                    <ion-label>
                                        <h1><b>ค่าส่ง</b></h1>
                                    </ion-label>
                                </ion-col>
                                <ion-col>
                                    <ion-label>
                                        <h1>{{ data.deliveryPricePerOrder | number }} บาท</h1>
                                    </ion-label>
                                </ion-col>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item color="light" lines="none"> </ion-item>
                    <ion-list-header color="light" mode="md">
                        <ion-label class="ion-margin-top">
                            <h1 class="list-margin-left"><b>รายการร้านค้า</b></h1>
                        </ion-label>
                    </ion-list-header>
                    <ion-row>
                        <ion-col class="ion-no-padding" color="light" size="1">
                            <ion-item lines="none" color="light"> </ion-item>
                        </ion-col>
                        <ion-col class="ion-no-padding" color="light">
                            <ion-item color="light">
                                <ion-col size="5">
                                    <ion-label color="secondary">
                                        <h1>ลำดับ</h1>
                                    </ion-label>
                                </ion-col>
                                <ion-col>
                                    <ion-label color="secondary">
                                        <h1>ชื่อร้าน</h1>
                                    </ion-label>
                                </ion-col>
                                <ion-col size="2">
                                    <ion-label color="secondary">
                                        <h1>วันที่</h1>
                                    </ion-label>
                                </ion-col>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let item of data.restaurants ;let i = index">
                        <ion-col class="ion-no-padding" color="light" size="1">
                            <ion-item lines="none" color="light"> </ion-item>
                        </ion-col>
                        <ion-col class="ion-no-padding" color="light">
                            <ion-item color="light">
                                <ion-col size="5">
                                    <ion-label>
                                        <h1>{{ i+1 }}.</h1>
                                    </ion-label>
                                </ion-col>
                                <ion-col>
                                    <ion-label>
                                        <h1>{{ item.name }}</h1>
                                    </ion-label>
                                </ion-col>
                                <ion-col size="2">
                                    <ion-label *ngIf="item.acceptContractDate">
                                        <h1>{{ item.acceptContractDate | date :'dd MMM y'}}</h1>
                                    </ion-label>
                                    <ion-label *ngIf="!item.acceptContractDate" color="danger">
                                        <h1><b>กำลังพิจารณา</b></h1>
                                    </ion-label>
                                </ion-col>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ion-content>