<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>OrderID {{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
  <ng-container *ngIf="orderInfo$ | async as data">
    <ion-card color="light"*ngIf="data.orderDetail.cancelDate">
      <ion-row>
        <ion-col size="0.4"></ion-col>
        <ion-col size="11" class="ion-margin-top">
          <ion-item color="light" lines="none">
            <ion-label slot="start">
              <h1><b>ยกเลิกการสั่งอาหาร</b></h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1.3" class="ion-no-padding"></ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item color="light">
            <ion-label position="fixed"><b>ผู้แจ้ง : </b></ion-label>
            <ion-input value="">{{ data.cancelRequest.request.senderName }}</ion-input>
            <ion-label slot="end" color="dark" enabled>
              <ion-icon name="time-outline"></ion-icon>
              {{data.cancelRequest.confirmDate | date : 'dd MMM yyyy (hh:mm น.)'}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1.3" class="ion-no-padding"></ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item color="light">
            <ion-label position="fixed"><b>สาเหตุ : </b></ion-label>
            <ion-input>{{data.cancelRequest.request.heading}}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1.3" class="ion-no-padding"></ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item color="light">
            <ion-label><b>บันทึกเพิ่มเติม : </b></ion-label>
            <ion-input>{{data.cancelRequest.request.info}}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.4"></ion-col>
        <ion-col size="11" class="ion-margin-top">
          <ion-item color="light" lines="none">
            <ion-label slot="start">
              <h1><b>การคืนเงินให้ลูกค้า</b></h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.5" class="ion-no-padding"></ion-col>
        <ion-col size="0.8" class="ion-no-padding">
          <ion-item color="light" lines="none">
            <ion-note slot="end"><b>
                <ion-icon color="success" name="checkmark-sharp"></ion-icon>
              </b></ion-note>
          </ion-item>
        </ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item color="light">
            <ion-label><b>คืนทั้งหมด</b></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2.2" class="ion-no-padding"></ion-col>
        <ion-col size="9" class="ion-no-padding">
          <ion-item color="light">
              <ion-icon  *ngIf="data.cancelRequest.compensate" color="success" name="checkmark-sharp"></ion-icon>
              <ion-icon *ngIf="!data.cancelRequest.compensate" color="success"></ion-icon>
            <ion-label>
              <ion-note>
                <h2>ชดเชยให้ร้าน</h2>
              </ion-note>
            </ion-label>
          </ion-item>
          <ion-item color="light">
            <ion-icon *ngIf="!data.cancelRequest.compensate" color="success" name="checkmark-sharp"></ion-icon>
            <ion-icon *ngIf="data.cancelRequest.compensate" color="success"></ion-icon>
            <ion-label>
              <ion-note>
                <h2>ไม่ชดเชยให้ร้าน</h2>
              </ion-note>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.5" class="ion-no-padding"></ion-col>
        <ion-col size="0.8" class="ion-no-padding">
          <ion-item color="light" lines="none">
            <ion-note slot="end" class="ion-text-right"><b>
                <ion-icon color="success" name="checkmark-sharp"></ion-icon>
              </b></ion-note>
          </ion-item>
        </ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item color="light">
            <ion-label><b>คืนเฉพาะค่าอาหาร</b></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="0.5" class="ion-no-padding"></ion-col>
        <ion-col size="0.8" class="ion-no-padding">
          <ion-item color="light" lines="none">
            <ion-note slot="end" class="ion-text-right"><b>
                <ion-icon color="success" name="checkmark-sharp"></ion-icon>
              </b></ion-note>
          </ion-item>
        </ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-item color="light">
            <ion-label><b>ไม่คืนเงิน</b></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item color="light" lines="none"></ion-item>

    </ion-card>

    <ion-card color="light" class="ion-no-margin ion-margin-horizontal ion-margin-top" *ngIf="!data.orderDetail.cancelDate">
      <ion-card-header class="ion-no-padding ion-padding-horizontal ion-margin-top ion-margin-bottom">
        <ion-item color="light" lines="none">
          <ion-label>
            <h1><b>OrderID : {{ data.orderDetail._id }}</b></h1>
            <br>
            <ion-text color="warning">
              <h3>B120 (2 รายการ)</h3>
            </ion-text>
          </ion-label>

          <ion-note slot="end">
            <ion-label>
              <ion-text color="dark">
                <ion-icon name="time-outline"></ion-icon>
                {{ data.orderDetail.createDate | date : 'dd MMM yyyy (hh:mm น.)' }}
              </ion-text>
            </ion-label>
            <br>
            <ion-text color="light">
              .
            </ion-text>
          </ion-note>
        </ion-item>

        <ion-item color="light">
          <ion-avatar slot="start">
            <img src="https://cf.shopee.co.th/file/c0f005d6a465eb0813d6062467c9cd12_tn" />
          </ion-avatar>
          <ion-label>
            <h3><b>{{ data.orderDetail.restaurant.name }}</b></h3>
            <ion-text color="secondary">
              <p class="ion-text-wrap">{{ data.orderDetail.restaurant.address }}</p>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item color="light">
          <ion-avatar slot="start">
            <img src="https://cf.shopee.co.th/file/c0f005d6a465eb0813d6062467c9cd12_tn" />
          </ion-avatar>
          <ion-label>
            <h3><b>{{ data.orderDetail.customer.name }}</b></h3>
            <ion-text color="secondary">
              <p class="ion-text-wrap">{{ data.orderDetail.customer.address }}</p>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item color="light" lines="none">
          <ion-label>
            <ion-text>
              <h1><b>สถานะงาน</b></h1>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item color="light" lines="none">
          <ion-col size="0.75"></ion-col>
          <ion-label>
            <ion-text>
              <h3>เวลาประเมิน : 20 นาที</h3>
              <h3>เวลาประเมิน : 25 นาที</h3>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item color="light" lines="none">
          <ion-col size="0.75"></ion-col>
          <ion-label>
            <ion-text>
              <h3>ลูกค้าสั่งอาหาร</h3>
              <h3>รับออเดอร์</h3>
              <h3>อยู่ระหว่างจัดส่ง</h3>
              <h3>ของถึงแล้ว</h3>
              <h3>ลูกค้าได้รับของแล้ว</h3>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item color="light">
          <ion-col size="0.75"></ion-col>
          <ion-note class="ion-margin">
            <ion-button shape="round" color="medium" type="submit">
              <ion-label color="dark">
                <h3>รายการสั่งซื้อ</h3>
              </ion-label>
            </ion-button>
          </ion-note>
        </ion-item>

        <ion-item color="light" lines="none">
          <ion-label>
            <ion-text>
              <h1><b>ติดต่อ</b></h1>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-row>
          <ion-col class="ion-no-padding" color="light" size="0.75"></ion-col>
          <ion-col class="ion-no-padding" color="light">
            <ion-item color="light" class="ion-text-left">
              <ion-col size="2.5">
                <ion-label>
                  <h2>ผู้ใช้งาน</h2>
                </ion-label>
              </ion-col>
              <ion-col size="3.5">
                <ion-label>
                  <h2>{{ data.orderDetail.customer.name }}</h2>
                </ion-label>
              </ion-col>
              <ion-col size="3.5">
                <ion-label>
                  <h2>{{ data.orderDetail.customer.tel }}</h2>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-text>
                  <ion-label color="success">
                    <h2><ion-icon color="success" slot="start" name="call"></ion-icon>&nbsp;ติดต่อ</h2>
                  </ion-label>
                </ion-text>
              </ion-col>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding" color="light" size="0.75"></ion-col>
          <ion-col class="ion-no-padding" color="light">
            <ion-item color="light" class="ion-text-left">
              <ion-col size="2.5">
                <ion-label>
                  <h2>คนส่งอาหาร</h2>
                </ion-label>
              </ion-col>
              <ion-col size="3.5" *ngIf="haveEmployee == true">
                <ion-label>
                  <h2>{{ data.orderDetail.biker.name }}</h2>
                </ion-label>
              </ion-col>
              <ion-col size="3.5" *ngIf="haveEmployee == false">
                <ion-label>
                  <h2>ยังไม่มีผู้รับงาน</h2>
                </ion-label>
              </ion-col>
              <ion-col size="3.5">
                <ion-label>
                  <h2>{{ data.orderDetail.biker.tel }}</h2>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-text>
                  <ion-label color="success">
                    <h2>
                      <ion-icon color="success" slot="start" name="call"></ion-icon>&nbsp;ติดต่อ
                    </h2>
                  </ion-label>
                </ion-text>
              </ion-col>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding" color="light" size="0.75"></ion-col>
          <ion-col class="ion-no-padding" color="light">
            <ion-item color="light" class="ion-text-left" lines="none">
              <ion-col size="2.5">
                <ion-label>
                  <h2>ร้านค้า</h2>
                </ion-label>
              </ion-col>
              <ion-col size="3.5">
                <ion-label>
                  <h2>{{ data.orderDetail.restaurant.name }}</h2>
                </ion-label>
              </ion-col>
              <ion-col size="3.5">
                <ion-label>
                  <h2>{{ data.orderDetail.restaurant.tel }}</h2>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-text>
                  <ion-label color="success">
                    <h2><ion-icon color="success" slot="start" name="call"></ion-icon>&nbsp;ติดต่อ</h2>
                  </ion-label>
                </ion-text>
              </ion-col>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </ng-container>
</ion-content>