<ion-header>
  <ion-toolbar>
    <ion-title>restaurant-create-qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="light">
  <ion-item lines="none" color="light">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png">
  </ion-item>
  <ion-item lines="none" color="light" class="ion-padding-bottom">
    <ion-button slot="end" color="danger" shape="round" size="default"  (click)="close()">
      <ion-label color="light">
        <h2>
          ยกเลิก
        </h2>
      </ion-label>
    </ion-button>
    <ion-button slot="end" color="success" shape="round" size="default">
      <ion-label color="light">
        <h2>
          บันทึก
        </h2>
      </ion-label>
    </ion-button>
  </ion-item>


</ion-content>