<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>การเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  mode="ios" ion class="ion-padding">
  <ion-card color="light">
    <ion-item color="light" class="ion-text-center">
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>10 ม.ค. 2563 </b></p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>18.00 น. </b></p>
        </ion-text>  
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>1500  THB</b></p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>เงินเดือน</b></p>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card>

  <ion-card color="light">
    <ion-item color="light" class="ion-text-center">
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>2 ม.ค. 2563 </b></p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>16.30 น. </b></p>
        </ion-text>  
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>500  THB</b></p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>โบนัส</b></p>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card>

  <ion-card color="light">
    <ion-item color="light" class="ion-text-center">
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>1 ม.ค. 2563 </b></p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>14.25 น. </b></p>
        </ion-text>  
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>120  THB</b></p>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text color="primary">
          <p><b>โบนัส</b></p>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card>

</ion-content>
