<ion-header>
  <ion-toolbar>
    <ion-title>operation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-segment mode="md" color="warning" [(ngModel)]="messageTable">
    <ion-segment-button [value]="attention">
      <ion-label>Need attention</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="refreshOrder()" [value]="order">
      <ion-label>Order</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="messageTable == attention">
    <ng-container *ngIf="cancelRequestOrderinfo$ | async as data">
      <ion-card color="light" *ngFor="let item of data" [routerLink]="['operation-order-detail', item._id]">
        <ion-item button color="light" class="ion-text-center">
          <ion-col size="4">
            <ion-text color="primary">
              <p><b>OrderID : {{item.orderCode}}</b></p>
            </ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-left">
            <ion-text>
                <p *ngIf="item.createDate && !item.acceptRequestDate && !item.shippingDate && !item.destinationDate && !item.doneDate"><b>สถานะ : ลูกค้าสั่งอาหาร</b></p>
                <p *ngIf="item.createDate && item.acceptRequestDate && !item.shippingDate && !item.destinationDate && !item.doneDate"><b>สถานะ : รับออเดอร์ </b></p>
                <p *ngIf="item.createDate && item.acceptRequestDate && item.shippingDate && !item.destinationDate && !item.doneDate"><b>สถานะ : อยู่ระหว่างจัดส่ง </b></p>
                <p *ngIf="item.createDate && item.acceptRequestDate && item.shippingDate && item.destinationDate && !item.doneDate"><b>สถานะ : ของถึงแล้ว </b></p>
                <p *ngIf="item.createDate && item.acceptRequestDate && item.shippingDate && item.destinationDate && item.doneDate"><b>สถานะ : ลูกค้าได้รับของแล้ว </b></p>
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="primary">
              <p><b>{{item.createDate | date:'d MMM y (H:mm น.)'}}</b></p>
            </ion-text>
          </ion-col>
        </ion-item>
      </ion-card>

      <ion-card color="light" class="ion-text-center" *ngIf="!data || data.length == 0">
        <br><br><br><br><br>
        <ion-text class="ion-text-center" color="primary">
          <h5><b>ไม่มีรายการ</b></h5>
        </ion-text>
        <br><br><br><br><br>
      </ion-card>
    </ng-container>
  </div>

  <div *ngIf="messageTable == order">
    <ng-container *ngIf="unFinishedOrderinfo$ | async as data">
      <ion-card color="light" *ngFor="let item of data" [routerLink]="['operation-order-detail', item._id]">
        <ion-card-header class="ion-no-padding ion-padding-horizontal ion-margin-top">
          <ion-label>
            <ion-item lines="none" color="light">
              <ion-label>
                <h1><b>OrderID : {{item.orderCode}}</b></h1>
                <ion-text color="warning">
                  <h3>฿{{ item.totalPrice | number}} ({{ item.totalQuantity }} รายการ)</h3>
                </ion-text>
              </ion-label>
              <ion-label>
                <ion-note slot="end" class="ion-text-end">
                  <ion-text color="dark">
                    <h3>
                      <ion-icon name="time-outline"></ion-icon> {{ item.createDate | date:'d MMM y (H:mm น.)' }}
                    </h3>
                    <br>
                  </ion-text>
                </ion-note>
              </ion-label>
            </ion-item>
          </ion-label>
        </ion-card-header>
        <ion-list>
          <ion-item color="light">
            <ion-avatar slot="start">
              <img src="assets/imgs/ordershop.png" />
            </ion-avatar>
            <ion-label>
              <h3><b>{{item.restaurant.name}}</b></h3>
              <ion-text color="secondary">
                <p class="ion-text-wrap">{{item.restaurant.address}}</p>
              </ion-text>
            </ion-label>
          </ion-item>

          <ion-item color="light">
            <ion-avatar slot="start">
              <img src="assets/imgs/ordercustomer.png" />
            </ion-avatar>
            <ion-label>
              <h3><b>{{ item.customer.name }}</b></h3>
              <ion-text color="secondary">
                <p class="ion-text-wrap">{{ item.customer.address }}</p>
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-item color="light" lines="none">
            <ion-avatar slot="start"></ion-avatar>
            <div slot="start">
              <img src="assets/imgs/bikeorange.png" height="32" />
            </div>
            <ion-label>
              <ion-text *ngIf="item.biker">
                <h3><b>Driver Name {{ item.biker.name }}</b></h3>
              </ion-text>

              <ion-text  *ngIf="!item.biker">
                <h3><b>Driver Name   ยังไม่มีผู้รับงาน</b></h3>
              </ion-text>
              <ion-text>
                <h3 *ngIf="item.createDate && !item.acceptRequestDate && !item.shippingDate && !item.destinationDate && !item.doneDate"><b>สถานะ : ลูกค้าสั่งอาหาร</b></h3>
                <h3 *ngIf="item.createDate && item.acceptRequestDate && !item.shippingDate && !item.destinationDate && !item.doneDate"><b>สถานะ : รับออเดอร์ </b></h3>
                <h3 *ngIf="item.createDate && item.acceptRequestDate && item.shippingDate && !item.destinationDate && !item.doneDate"><b>สถานะ : อยู่ระหว่างจัดส่ง </b></h3>
                <h3 *ngIf="item.createDate && item.acceptRequestDate && item.shippingDate && item.destinationDate && !item.doneDate"><b>สถานะ : ของถึงแล้ว </b></h3>
                <h3 *ngIf="item.createDate && item.acceptRequestDate && item.shippingDate && item.destinationDate && item.doneDate"><b>สถานะ : ลูกค้าได้รับของแล้ว </b></h3>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
        <br>
      </ion-card>

      <ion-card color="light" class="ion-text-center" *ngIf="!data || data.length == 0">
        <br><br><br><br><br>
        <ion-text class="ion-text-center" color="primary">
          <h5><b>ไม่มีรายการ</b></h5>
        </ion-text>
        <br><br><br><br><br>
      </ion-card>
    </ng-container>
  </div>
</ion-content>