<ion-header>
  <ion-toolbar>
    <ion-title>finance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-item lines="none" class="ion-margin-top">
    <ion-button slot="end" size="default" shape="round" color="success" [routerLink]="['finance-create']">
      <ion-icon name="add-outline" color="light"></ion-icon>
      เพิ่มรายการ
    </ion-button>
  </ion-item>

  <ng-container *ngIf="financeInfo$ | async as data">
    <ion-card color="light" *ngFor="let item of data">
      <ion-item button color="light"  [routerLink]="['finance-detail', item._id]">
        <ion-col size="4" class="ion-margin-start">
          <ion-text color="primary" >
            <p><b>{{item.name}}</b></p>
          </ion-text>
        </ion-col>
      </ion-item>
    </ion-card>

    <ion-card color="light" class="ion-text-center" *ngIf="data.length == 0">
      <br>
      <br>
      <br>
      <br>
      <br>
      <ion-text class="ion-text-center" color="primary">
        <h5>
          <b>
            ไม่มีรายการ
          </b>
        </h5>
      </ion-text>
      <br>
      <br>
      <br>
      <br>
      <br>
    </ion-card>
  </ng-container>

</ion-content>

<ion-footer mode="ios">
  <ion-item lines="none" class="buttonSpace">
    <ion-button slot="end" size="default" shape="round" color="success" class="buttonAddWidth" (click)="zzz()">
      จ่ายเงิน
    </ion-button>
    <ion-avatar slot="end">
    </ion-avatar>
  </ion-item>
</ion-footer>