<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content color="secondary" mode="ios">
        <ion-list id="inbox-list" lines="none">
          <div class="ion-text-center ion-padding">
            <ion-avatar class="center">
              <img width="80" height="80" src="assets/imgs/ordercustomer.png" /> </ion-avatar>
            <br>
            <ion-label>
              <h2><b>Admin XXX</b></h2>
            </ion-label>
          </div>
          <ion-menu-toggle auto-hide="false" *ngFor="let flow of flows" routerDirection="root" [routerLink]="[flow.path]">
            <ion-item button lines="none" detail="false" [color]="route.url.startsWith(flow.path) ? selectedItemColor : unselectedItemColor">
              <ion-label color="light"><b>{{ flow.name }}</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>