<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
  <ng-container *ngIf="bikerInfo$ | async as data">
    <ion-card color="light" class="ion-padding">
      <ion-card-header>
        <ion-avatar class="avatar center">
          <img src="{{data.profileImage}}">
        </ion-avatar>
        <ion-item color="light" lines="none">
          <ion-col class="ion-no-padding" color="light" size="0.5">
          </ion-col>
          <ion-col class="ion-no-padding" color="light">
            <ion-item color="light" class="ion-margin-top">
              <ion-label>
                <h1><b>ชื่อ : {{ data.name }}</b></h1>
                <h1><b>Biker ID : {{ data._id }}</b></h1>
                <h1><b>Rating : ยังไม่เปิดบริการ</b></h1>
              </ion-label>
              <ion-button slot="end" shape="round" class="buttonWidth" size="default">
                <ion-label> พักงาน</ion-label>
              </ion-button>
            </ion-item>
            <ion-item color="light">
              <ion-label>
                <h1><b>สถานะ</b></h1>
              </ion-label>
              <ion-note slot="end" class="ion-text-end">
                  <ion-label color="success" *ngIf="data.onWorkStatus">
                    <h2><b>เปิดรับงาน</b></h2>
                  </ion-label>
                  <ion-label color="danger" *ngIf="!data.onWorkStatus">
                    <h2><b>ปิดรับงาน</b></h2>
                  </ion-label>
              </ion-note>
            </ion-item>
            <ion-item color="light">
              <ion-label>
                <h2><b>ติดต่อ</b></h2>
                <p>{{ data.tel }}</p>
              </ion-label>
              <ion-note slot="end" class="ion-text-end">
                <ion-label color="success">
                  <h2>
                    <ion-icon name="call"></ion-icon><b>ติดต่อ</b>
                  </h2>
                  <ion-text color="dark">
                    <p><b>&nbsp;</b></p>
                  </ion-text>
                </ion-label>
              </ion-note>
            </ion-item>
            <ion-item color="light">
              <ion-label>
                <h2><b>ที่อยู่</b></h2>
                  <p class="ion-text-wrap" *ngIf="data.address">{{ data.address }}</p>
                  <p class="ion-text-wrap" *ngIf="!data.address">-</p>
              </ion-label>
            </ion-item>
            <ion-item color="light">
              <ion-label>
                <h2><b>บันทึกเพิ่มเติม</b></h2>
                  <p *ngIf="data.note">{{ data.note }}</p>
                  <p *ngIf="!data.note">-</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none" color="light" class="ion-margin-top">
              <ion-button slot="start" color="danger" shape="round" size="default" [routerLink]="['biker-history']">
                <ion-label>ประวัติการรับงาน</ion-label>
              </ion-button>
              <ion-button slot="start" color="danger" class="buttonWidth" shape="round" size="default" [routerLink]="['biker-balance']">
                <ion-label>การเงิน</ion-label>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ng-container>
</ion-content>