<ion-header>
  <ion-toolbar>
    <ion-title>อานนท์ บางสาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="light" class="ion-padding">
    <ion-card-header>
      <ion-avatar class="avatar center">
        <img src="https://cf.shopee.co.th/file/c0f005d6a465eb0813d6062467c9cd12_tn">
      </ion-avatar>
      <ion-item color="light" class="ion-margin-top">
        <ion-label>
          <h1><b>ชื่อ : อานนท์ บางสาน</b></h1>
          <h1><b>Biker ID : 1234</b></h1>
          <h1><b>Rating 4.7</b></h1>
        </ion-label>
        <ion-button slot="end" shape="round" size="default">
          <ion-label>
            พักงาน
          </ion-label>
        </ion-button>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <h1><b>สถานะ</b></h1>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <ion-label color="success">
            <h2>
              <b>
                เปิดรับร้าน
              </b>
            </h2>
          </ion-label>
        </ion-note>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <h2><b>ติดต่อ</b></h2>
          <p>085-632-1478</p>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <ion-label color="success">
            <h2>
              <ion-icon name="call"></ion-icon>
              <b>ติดต่อ</b>
            </h2>
            <ion-text color="dark">
              <p><b>&nbsp;</b></p>
            </ion-text>
          </ion-label>
        </ion-note>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <h2><b>ที่อยู่</b></h2>
          <p class="ion-text-wrap">147/2 พิมานคอนโดพาร์ค, ตำบล ศิลา, อำเภอเมืองขอนแก่น, ขอนแก่น, 40000</p>
        </ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <h2><b>บันทึกเพิ่มเติม</b></h2>
          <p>....</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" color="light" class="ion-margin-top">
        <ion-button slot="start" color="danger" shape="round" size="default">
          <ion-label>
            ประวัติการรับงาน
          </ion-label>
        </ion-button>
        <ion-button slot="start" color="danger" shape="round" size="default">
          <ion-label>
            การเงิน
          </ion-label>
        </ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>