<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>เพิ่มคำขอ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="fg" (ngSubmit)="submit()">
    <ion-card color="light">
      <ion-card-content>
        <ion-list color="light" class="ion-no-padding">
          <ion-list-header color="light" mode="md">
            <ion-label class="ion-margin-top">
              <h1><b>คำขอสมัครงาน</b></h1>
            </ion-label>
          </ion-list-header>
          <ion-item lines="none" color="light">
            <ion-col size="0.5"> </ion-col>
            <ion-col>
              <ion-item color="light" lines="inset">
                <ion-input formControlName="tel" type="tel" placeholder="เบอร์โทรผู้สมัคร"></ion-input>
              </ion-item>
              <ion-item color="light" lines="inset">
                <ion-input formControlName="manaCode" placeholder="รหัสผู้สมัคร"></ion-input>
              </ion-item>
              <ion-item color="light" lines="none">
                <img class="ion-margin-vertical" src="assets/imgs/dfprofile.png" height="100">
                <ion-input type="file" name="file"id="file"class="file-input" accept="photo" multiple="false" (ionChange)="selectPhoto($event)"></ion-input>
                <ion-label for="file" class="ion-text-center file-input-label" color="light">เปลี่ยนรูป</ion-label>
              </ion-item>
              <ion-item color="light" lines="inset">
                <ion-input formControlName="name" placeholder="ชื่อผู้สมัคร"></ion-input>
              </ion-item>
              <ion-item color="light" lines="inset">
                <ion-input formControlName="address" placeholder="ที่อยู่"></ion-input>
              </ion-item>
              <ion-item color="light" lines="inset">
                <ion-input formControlName="note" placeholder="บันทึกเพิ่มเติม"></ion-input>
              </ion-item>
              <ion-item lines="none" color="light">
                <ion-button slot="end" (click)="Back()" color="danger" shape="round" class="buttonWidth" size="default">
                  <ion-label color="light">ยกเลิก</ion-label>
                </ion-button>
                <ion-button type="submit" slot="end" color="success" shape="round" class="buttonWidth"
                  [disabled]="fg.invalid" size="default">
                  <ion-label color="light">บันทึก</ion-label>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>