<ion-header>
  <ion-toolbar>
    <ion-title>contract</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-item lines="none" class="buttonSpace">
    <ion-button slot="end" size="default" shape="round" color="success" class="buttonAddWidth">
      <ion-icon name="add-outline" color="light"></ion-icon>
      เพิ่มรายการ
    </ion-button>
  </ion-item>

  <ion-card color="light">
    <ion-item button color="light" class="ion-text-center">
      <ion-col size="4">
        <ion-text color="primary">
          <p><b>Contract : A</b></p>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card>

  <ion-card color="light">
    <ion-item button color="light" class="ion-text-center">
      <ion-col size="4">
        <ion-text color="primary">
          <p><b>Contract : B</b></p>
        </ion-text>
      </ion-col>
    </ion-item>
  </ion-card>

  <ion-card color="light" class="ion-text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-text class="ion-text-center" color="primary">
      <h5>
        <b>
          ไม่มีรายการ
        </b>
      </h5>
    </ion-text>
    <br>
    <br>
    <br>
    <br>
    <br>
  </ion-card>

</ion-content>
