<ion-header>
  <ion-toolbar>
    <ion-title>biker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  mode="ios">
  <ion-item lines="none" class="ion-margin-top">
    <ion-button slot="end" size="default" shape="round" color="success" >
      <ion-icon name="add-outline" color="light"></ion-icon>
      เพิ่มคำขอ
    </ion-button>
  </ion-item>

  <ion-card color="light">
    <ion-item button color="light" class="ion-text-center">
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-avatar slot="start">
          <img src="https://image.shutterstock.com/image-vector/cartoon-cute-squid-bowtie-vector-260nw-740611582.jpg" />
        </ion-avatar>
        <ion-col size="7" class="ion-text-left">
          <ion-text color="primary">
            <p><b> อานนท์  บางสวน</b></p>
          </ion-text>
        </ion-col>
        <ion-col size="5">
          <ion-text color="success">
            <p><b> สถานะ : เปิดรับงาน </b></p>
          </ion-text>
        </ion-col>
    </ion-item>
  </ion-card>

  <ion-card color="light">
    <ion-item button color="light" class="ion-text-center">
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-avatar slot="start">
          <img src="https://image.shutterstock.com/image-vector/cartoon-cute-squid-bowtie-vector-260nw-740611582.jpg" />
        </ion-avatar>
        <ion-col size="7" class="ion-text-left">
          <ion-text color="primary">
            <p><b> สมเกียรต์  หอมนาน</b></p>
          </ion-text>
        </ion-col>
        <ion-col size="5">
          <ion-text color="danger">
            <p><b> กำลังพิจารณา </b></p>
          </ion-text>
        </ion-col>
    </ion-item>
  </ion-card>

  <ion-card color="light" class="ion-text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-text class="ion-text-center" color="primary">
      <h5>
        <b>
          ไม่มีรายการ
        </b>
      </h5>
    </ion-text>
    <br>
    <br>
    <br>
    <br>
    <br>
  </ion-card>

</ion-content>
