<ion-header>
  <ion-toolbar>
    <ion-title>แก้ไขหมวดหมู่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="light">
    <ion-card-content>
      <ion-list class="ion-no-padding" color="light" lines="inset">
        <ion-item lines="none" color="light">
          <ion-button slot="end" color="success" shape="round" size="default">
            <ion-label color="light">
                เพิ่มหมวดหมู่
            </ion-label>
          </ion-button>
        </ion-item>
        <ion-item color="light">
          <ion-label>
            <h2><b>เครื่องดื่มเย็น</b></h2>
          </ion-label>
          <ion-button expand="full" fill="clear" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
          <ion-button expand="full" fill="clear" slot="end"><b>ลบ</b></ion-button>
        </ion-item>
        <ion-item color="light">
          <ion-label>
            <h2><b>เครื่องดื่มร้อน</b></h2>
          </ion-label>
          <ion-button expand="full" fill="clear" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
          <ion-button expand="full" fill="clear" slot="end"><b>ลบ</b></ion-button>
        </ion-item>
        <ion-item color="light">
          <ion-label>
            <h2><b>เครื่องดื่มปั่น</b></h2>
          </ion-label>
          <ion-button expand="full" fill="clear" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
          <ion-button expand="full" fill="clear" slot="end"><b>ลบ</b></ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>