<ion-header>
  <ion-toolbar>
    <ion-title>แก้ไขหมวดหมู่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
  <ion-card color="light" class="ion-padding-bottom">
    <ion-card-content>

      <ion-list class="ion-no-padding" color="light" lines="inset">
        <ion-item lines="none" color="light">
          <ion-button class="buttonWidth" slot="end" (click)="createCategoty()" color="success" shape="round"
            size="default">
            <ion-label color="light">
              เพิ่มหมวดหมู่
            </ion-label>
          </ion-button>
        </ion-item>
        <ng-container *ngIf="data$ |async as item ">
          <ion-item *ngFor="let data of item" color="light">
            <ion-label>
              <h2><b>{{data.categoryName}}</b></h2>
            </ion-label>
            <ion-button expand="full" fill="clear" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
            <ion-button expand="full" fill="clear" slot="end"><b>ลบ</b></ion-button>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>