<ion-content color="light" class="ion-text-center">
  <ion-item lines="none" color="light"></ion-item>
  <ion-item lines="none" color="light">
    <ion-label class="ion-text-center">
      <ion-text color="primary">
        <h2><b>ยืนยันการจ่าย</b></h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item lines="none" color="light">
    <ion-label class="ion-text-center">
      <ion-text color="primary">
        <h3><b>จำนวนเงิน</b></h3>
      </ion-text>
      <ion-text color="primary">
        <h2><b>3,900 บาท</b></h2>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item color="light" lines="none" class="ion-margin-top">
    <ion-button slot="end" size="default" shape="round" color="danger">ยกเลิก</ion-button>
    <ion-button slot="end" size="default" shape="round" color="success">ตกลง</ion-button>
  </ion-item>
</ion-content>